@tailwind base;
@tailwind components;
@tailwind utilities;

// reset
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  scroll-behavior: smooth;
}

a {
  text-decoration: none;
  color: inherit;
}

img,
svg {
  vertical-align: bottom;
}

button {
  cursor: pointer;
  border: none;
  background: none;
}

form * {
  appearance: none;
  -webkit-appearance: none;
  border: none;
}

body {
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen",
    "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}

html {
  @apply bg-zinc-900 p-3 flex min-h-dvh max-h-dvh overflow-hidden max-xs:p-0;

  body {
    @apply bg-zinc-800 rounded-lg min-h-full min-w-full max-h-dvh p-3 overflow-auto text-zinc-200 max-xs:rounded-none max-xs:pointer-events-none;

    & * {
      @apply max-xs:pointer-events-auto;
    }

    &::-webkit-scrollbar {
      @apply w-2 max-xs:w-0.5;
    }

    &::-webkit-scrollbar-thumb {
      @apply bg-zinc-600 rounded-md;
    }

    &::-webkit-scrollbar-track {
      @apply my-2 bg-transparent;
    }

    #root {
      @apply h-full;

      .loader {
        @apply animate-spin absolute top-1/4 left-1/4 size-1/2;
      }
    }
  }
}